<div class="perfil-container">
  <div class="form-card">
    <div class="perfil-Title">
      <h2>Mi Perfil</h2>
    </div>

    <p class="form-description">Actualiza tu información personal</p>

    <form [formGroup]="perfilForm" >

      <!-- Nombres -->
      <div class="form-row">
        <div class="form-group">
          <label for="firstName">Primer Nombre *</label>
          <input id="firstName" type="text" formControlName="firstName" placeholder="Ingresa tu nombre" />
        </div>

        <div class="form-group">
          <label for="middleName">Segundo Nombre (Opcional)</label>
          <input id="middleName" type="text" formControlName="middleName"
            placeholder="Ingresa tu segundo nombre (opcional)" />
        </div>
      </div>

      <!-- Apellidos -->
      <div class="form-row">
        <div class="form-group">
          <label for="lastName">Primer Apellido *</label>
          <input id="lastName" type="text" formControlName="lastName" placeholder="Ingresa tu primer apellido" />
        </div>

        <div class="form-group">
          <label for="secondLastName">Segundo Apellido</label>
          <input id="secondLastName" type="text" formControlName="secondLastName"
            placeholder="Ingresa tu segundo apellido (opcional)" />
        </div>
      </div>

      <!-- Documento -->
      <div class="step-content">
              <h3 class="step-title">Información de Identificación</h3>

              <div class="form-row">
                <mat-form-field appearance="outline" class="half-width">
                  <mat-label>Tipo de Documento</mat-label>
                  <mat-select formControlName="documentTypeId" required>
                    <mat-option *ngFor="let docType of documentTypes" [value]="docType.id">
                      {{docType.name}} - {{docType.description}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>badge</mat-icon>
                  <mat-error *ngIf="perfilForm.get('documentTypeId')?.hasError('required')">
                    Seleccione un tipo de documento
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="half-width">
                  <mat-label>Número de Identificación</mat-label>
                  <input matInput placeholder="Número de documento" formControlName="documentNumber" required>
                  <mat-error *ngIf="perfilForm.get('documentNumber')?.hasError('required')">
                    El número de identificación es requerido
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="form-row">
                <mat-form-field appearance="outline" class="full-width">
                  <mat-label>Tipo de Sangre</mat-label>
                  <mat-select formControlName="bloodTypeId" required>
                    <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType.id">
                      {{bloodType.name}}
                    </mat-option>
                  </mat-select>
                  <mat-icon matSuffix>bloodtype</mat-icon>
                  <mat-error *ngIf="perfilForm.get('bloodTypeId')?.hasError('required')">
                    Seleccione un tipo de sangre
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

      <!-- Contacto -->
      <div class="form-row">
        <div class="form-group">
          <label for="email">Correo Electrónico Personal*</label>
          <input id="email" type="email" formControlName="email" placeholder="correo@ejemplo.com" />
        </div>

        <div class="form-group">
          <label for="phone">Teléfono</label>
          <input id="phone" type="tel" formControlName="phone" placeholder="+57 301 234 5678" />
        </div>
      </div>

      <!-- Dirección -->
      <div class="form-group">
        <label for="address">Dirección</label>
        <input id="address" type="text" formControlName="address" placeholder="Ingresa tu dirección" />
      </div>

      <!-- Ciudad -->
      <div class="form-row">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Departamento</mat-label>
          <mat-select formControlName="deparmentId" required>
            <mat-option *ngFor="let deparment of deparments" [value]="deparment.id">
              {{deparment.name}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>location_deparment</mat-icon>
          <mat-error *ngIf="perfilForm.get('deparmentId')?.hasError('required')">
            Seleccione un deparmento
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Ciudad</mat-label>
          <mat-select formControlName="cityId" required>
            <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
          </mat-select>
          <mat-icon matSuffix>location_city</mat-icon>
          <mat-error *ngIf="perfilForm.get('cityId')?.hasError('required')">
            Seleccione una ciudad
          </mat-error>
        </mat-form-field>

      </div>

      <!-- Botones -->
      <div class="form-actions">
        <button type="button" class="reset-btn" (click)="resetForm()">Cancelar</button>
        <button type="submit" class="submit-btn" [disabled]="perfilForm.invalid || !isEditable">
          Actualizar Perfil
        </button>
      </div>
    </form>
  </div>
</div>

