.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/assets/fondo-login.png') center/cover no-repeat;
  box-shadow: 0 8px 25% rgba(0, 0, 0, 0.5);
}

.login-card {
  display: flex;
  max-width: 885px;   /* 🔥 reduce el ancho total */
  width: 94%;         /* mantiene responsividad */
  max-height: 700px;;
  height: 100%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10vh;
}

/* Imagen */
.illustration-section {
  flex: 0vh;
  display: flex;
  align-items: stretch;   /* Hace que el hijo ocupe toda la altura */
  justify-content: center;
  overflow: hidden;       /* Evita desbordes */
}

.illustration-image {
  width: 100%;           /* Ocupa todo el ancho */
  height: 100%;          /* Ocupa toda la altura */
  object-fit: cover;     /* Recorta la imagen manteniendo proporciones */
  display: block;
}

/* Formulario */
.login-section {
  flex: 1;
  background: rgba(255, 255, 255, 0.2);
  padding: 4rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  backdrop-filter: blur(12px);
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

/* Inputs */
.form-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: none;
  background: #749BC2;
  opacity: 0.5;
  color: 0.3;
  font-size: 1rem;
  outline: none;
}

.form-input::placeholder {
  color: #323537;
}

/* Botón */
.login-button {
  
  width: 50%;
  padding: 2vh;
  background: linear-gradient(135deg, #0077B6 0%, #003450 100%);
  border: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 8vh;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(14, 165, 233, 0.4);
}

.forgot-password {
  text-align: right;
  margin-top: 0.5rem;
}

.forgot-password a {
  color: #473e3e;
  text-decoration: none;
  font-size: 0.9rem;
  opacity: 0.8;
}

.forgot-password a:hover {
  opacity: 1;
  text-decoration: underline;
}