<mat-card>
  <mat-card-title>Configuración de Carnet</mat-card-title>
  <mat-card-content>
    <form class="form-grid">

      <mat-form-field>
        <mat-label>Plantilla de Carnet</mat-label>
        <input matInput [value]="selectedTemplate?.name" readonly placeholder="Seleccione una plantilla">
        <button type="button" mat-icon-button matSuffix (click)="openTemplateSelector()">
          <mat-icon>collections</mat-icon>
        </button>
      </mat-form-field>


      <!-- Campo con Autocomplete -->
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>División Interna</mat-label>
          <input #input
                type="text"
                placeholder="Seleccione una división"
                matInput
                [formControl]="divisionControl"
                [matAutocomplete]="auto"
                (input)="filter()"
                (focus)="filter()">

          <mat-autocomplete requireSelection #auto="matAutocomplete">
            @for (div of filteredDivisions; track div.id) {
              <mat-option [value]="div.name">
                {{ div.name }}
              </mat-option>
            }
          </mat-autocomplete>
        </mat-form-field>
      </form>


      <mat-form-field>
        <mat-label>Perfil</mat-label>
        <mat-select>
          <mat-option *ngFor="let profile of profiles" [value]="profile.id">{{ profile.name }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
  <mat-label>Vigencia (Desde - Hasta)</mat-label>
  <mat-date-range-input [formGroup]="validityForm" [rangePicker]="picker">
    <input matStartDate formControlName="ValidFrom" placeholder="Desde" (dateChange)="emitConfig()">
    <input matEndDate formControlName="ValidTo" placeholder="Hasta" (dateChange)="emitConfig()">
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker></mat-date-range-picker>
</mat-form-field>


    </form>
  </mat-card-content>
</mat-card>
