<!-- templates-available.component.html -->
<div class="plantilla-carnet">
  <div class="header">
    <div class="header-content">
      <div>
        <h1 class="title">Plantillas de carnets</h1>
        <!-- <p class="subtitle">Plantillas disponibles</p> -->
      </div>
      <button mat-raised-button color="primary" (click)="openCreateTemplateModal()">
        Crear Nueva Plantilla
      </button>
    </div>
  </div>

  <div class="cards-grid" style="display: flex; flex-wrap: wrap; gap: 24px; padding: 16px;">

    <app-generic-list-card
      [title]="'Plantillas Disponibles'"
      [buttonSave]="false"
      [dataSourceInput]="TemplateAvaleCards"
      [pageSize]="10"
      [customTemplates]="{
        'actions': actionsTpl
      }"
      (onView)="showTemplateSummary($event)">
    </app-generic-list-card>
  </div>

  <!-- Custom Actions Template -->
  <ng-template #actionsTpl let-template>
    <button mat-stroked-button (click)="showTemplateSummary(template)">
      Ver Más Información
    </button>
  </ng-template>
</div>