<app-card-configurations></app-card-configurations>

<div class="wrapper">

  <!-- ⭐ BOTÓN PARA MOSTRAR/OCULTAR FORMULARIO -->
  <div class="add-template-header">
    <h2>Plantillas Existentes</h2>

    <button mat-raised-button color="primary" (click)="openModal()">
      <mat-icon>add</mat-icon>
      Agregar Plantilla
    </button>

  </div>
  <!-- ⭐ LISTADO DE PLANTILLAS -->
  <div class="cards">
    <mat-card class="tpl" *ngFor="let t of templates()">
      <mat-card-title>{{ t.name }}</mat-card-title>

      <div class="pv">
        <img [src]="t.frontBackgroundUrl" class="mini">
        <img [src]="t.backBackgroundUrl" class="mini">
      </div>

      <!-- 🔥 BOTONES DE ACCIONES -->
      <div class="actions ">
        <button mat-icon-button color="primary" (click)="openEdit(t)">
          <mat-icon>edit</mat-icon>
        </button>

        <mat-slide-toggle
          [checked]="!t.isDeleted"
          (change)="toggle(t)">
          {{ !t.isDeleted ? 'Activa' : 'Inactiva' }}
        </mat-slide-toggle>
      </div>
    </mat-card>
  </div>

</div>
