<app-generic-table
  [title]="'Formularios'"
  *ngIf="listForms$ | async as forms"
  [dataSource]="forms"
  [displayedColumns]="displayedColumns"
  [columns]="[
      { key: 'name', label: 'Nombre' },
      { key: 'description', label: 'Descripción' },
      { key: 'url', label: 'Url'},
      { key: 'moduleName', label: 'Módulo'},
      { key: 'isDeleted', label: 'Estado' }
    ]"
  (onCreate)="save()"
  (onEdit)="save($event)"
  (onDelete)="delete($event)"
  (onToggleStatus)="toggleIsActive($event)">
</app-generic-table>
