<app-generic-table
  [title]="'Últimos registros generados'"
  [displayedColumns]="displayedColumns"
  [columns]="columns"
  [dataSourceInput]="records || []"
  [customTemplates]="{
    status: statusTemplate,
    message: messageTemplate
  }"
  [buttonSave]="false">
</app-generic-table>

<!-- Template para mostrar el estado (success/fail) -->
<ng-template #statusTemplate let-item>
  <mat-chip
    [color]="item.success ? 'primary' : 'warn'"
    selected>
    {{ item.success ? 'Éxito' : 'Error' }}
  </mat-chip>
</ng-template>

<!-- Template para mensaje dinámico -->
<ng-template #messageTemplate let-item>
  <div [ngClass]="{'error-row': !item.success}">
    {{ item.message }}
  </div>
</ng-template>
