<div class="verification-container">
  <div class="verification-card">
    <!-- Imagen izquierda -->
    <div class="illustration-section">
      <img src="assets/olvido-contra.png" alt="Ilustración" class="illustration-image">

      
    </div>

    

    <!-- Formulario derecha -->
    <div class="form-section">
      <div class="form-content">
        <h2 class="title">Ingrese su nueva contraseña</h2>

        <div class="success-icon">
          <img src="assets/seguridad.png" alt="Email" class="gmail-size"/>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <h5>Contraseña</h5>
        <input type="password" formControlName="password" class="form-input" placeholder="********">
        </form>
        <button type="submit" class="login-button">
          Continuar
        </button>
      </div>
    </div>
  </div>
</div>