<nav class="navbar">
  <div class="navbar-left">
    <img src="/assets/icon.png" alt="Logo" class="logo" />
    <span class="brand">CARNET<span class="bold">GO</span></span>
  </div>

  <div class="navbar-right">
    <div class="nav-menu" #navMenu>
      <a routerLink="/" routerLinkActive="active-link" class="nav-link">Inicio</a>
      <a routerLink="/about" routerLinkActive="active-link" class="nav-link">Acerca de</a>
      <a routerLink="/characteristics" routerLinkActive="active-link" class="nav-link">Características</a>
      <a routerLink="/contact" routerLinkActive="active-link" class="nav-link">Contacto</a>

      <!-- Indicador circular animado -->
      <div class="active-indicator" #activeIndicator></div>
    </div>

    <a routerLink="/auth" class="login-btn">Ingresar</a>
  </div>
</nav>
