<nav class="navbar">
  <div class="navbar-left">
    <img src="/assets/icon.png" alt="Logo" class="logo" />
    <span class="brand">CARNET<span class="bold">GO</span></span>

    <span class="current-badge" *ngIf="currentLabel">
      <mat-icon class="badge-icon">{{ currentIcon || 'home' }}</mat-icon>
      <span class="badge-text">{{ currentLabel }}</span>
    </span>
  </div>
  <div class="navbar-right">
    <!-- Botón menú -->
    <button mat-icon-button class="menu-btn" [matMenuTriggerFor]="mainMenu">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>

  <!-- Menú desplegable -->
  <mat-menu #mainMenu="matMenu">
    <button mat-menu-item (click)="scrollToSection('home')">Inicio</button>
    <button mat-menu-item (click)="scrollToSection('about')">Acerca de</button>
    <button mat-menu-item (click)="scrollToSection('characteristics')">Características</button>
    <button mat-menu-item (click)="scrollToSection('contacto')">Contacto</button>
  </mat-menu>

  <!-- Navegación horizontal -->
  <div class="nav-menu" #navMenu>
    <a (click)="scrollToSection('home', $event)" [routerLink]="['/']" fragment="home" class="nav-link">
      <span class="link-text">Inicio</span>
    </a>
    <a (click)="scrollToSection('about', $event)" [routerLink]="['/']" fragment="about" class="nav-link">
      <span class="link-text">Acerca de</span>
    </a>
    <a (click)="scrollToSection('characteristics', $event)" [routerLink]="['/']" fragment="characteristics"
      class="nav-link">
      <span class="link-text">Características</span>
    </a>
    <a (click)="scrollToSection('contacto', $event)" [routerLink]="['/']" fragment="contacto" class="nav-link">
      <span class="link-text">Contacto</span>
    </a>

    <div class="active-indicator" #activeIndicator></div>
  </div>
  <a routerLink="/auth" class="login-btn">
      <mat-icon class="login-icon">account_circle</mat-icon>
      <span class="link-text">Ingresar</span>
    </a>
      </div>
</nav>