:host {
  display: block;
  min-height: 100vh;
  width: 100%;
  background: url('/assets/fondo-login.png') center/cover no-repeat;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

/* Tarjeta general */
.recovery-wrapper {
  display: flex;
  max-width: 128vh;            
  width: 90%;
  min-height: 40vh;
  background: rgba(255, 255, 255, 0.1); /* efecto glass */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 10vh;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    max-width: 100vh;
  }
}

/* Sección del formulario */
.form-section {
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #B0C5DB;
  opacity: 0.7;
  backdrop-filter: blur(10px);
}

.form-card {
  width: 100%;
  max-width: 100vh;
}

/* Títulos */
.title {
  font-size: 28px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 12px;
  text-align: center;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

.subtitle {
  font-size: 14px;
  color: #013655;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.5;
}

/* Inputs */
.form-input {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  background: #749BC2;
  color: #013655;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.2);
  }

  &::placeholder {
    color: rgba(255,255,255,0.7);
  }
}

/* Botones */
.btn-primary {
  background: linear-gradient(135deg, #0077B6 0%, #003450 100%);
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  padding: 14px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 8px 25px rgba(14, 165, 233, 0.3);
  }
}

.btn-secondary {
  background: transparent;
  color: #fff;
  border: 2px solid rgba(255,255,255,0.4);
  border-radius: 12vh;
  font-size: 16px;
  padding: 14px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover:not(:disabled) {
    background: rgba(255,255,255,0.1);
  }
}

/* Sección ilustración */
.illustration-section {
  background: rgba(255,255,255,0.05);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.illustration-container {
  width: 70vh;
  height: 75vh;
  max-width: 70vh;
  text-align: center;
}

.illustration {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
