<div class="profile-card">
  <!-- Banner -->
  <div class="banner">

    <img src="/assets/fondo-perfil4.jpg" alt="Banner del perfil" class="banner-img">
    <div *ngIf="!isEditing" class="edit-icon" (click)="fileInput.click()">
      <span class="material-icons">
        mode_edit
      </span>
    </div>
  </div>

  <!-- Avatar centrado y sobresaliente -->

  <div class="profile-container">

    <!-- Imagen -->
    <img [src]="profileImage" alt="Perfil" class="perfil-img avatar" (error)="onImageError($event)">



    <!-- Botones guardar / cancelar (solo visibles si hay edición) -->
    <div *ngIf="isEditing" class="edit-actions">
      <button class="btn-save" (click)="saveImage()">Guardar</button>
      <button class="btn-cancel" (click)="cancelEdit()">Cancelar</button>
    </div>

    <!-- Input oculto -->
    <input type="file" accept="image/*" #fileInput (change)="onFileSelected($event)" hidden>
  </div>



  <!-- Contenido -->
  <div class="content">
    <div class="header-content">
      <div class="header-title">
        <h1 class="main-title">{{this.user()?.currentProfile?.personName}}
        </h1>
        <div class="header-subtitle subtitle">
          <p class="left-text">Administra tu información personal</p>
          <span class="text-icon-group">
            <mat-icon class="icons" matTooltip="Nombre de la organización">domain</mat-icon>
            <span>Sena</span>
            <mat-icon class="icons" matTooltip="Perfil del usuario">accessibility_new</mat-icon>
            <span>Administrador</span>
          </span>
        </div>
        <!-- Ícono editar (solo visible si NO estamos editando) -->

      </div>


      <nav class="tab-navigation">
        <button *ngFor="let tab of tabs" class="tab-button" [class.active]="activeTab === tab.key"
          (click)="selectTab(tab.key, tab.route)">
          {{ tab.label }}
        </button>
      </nav>
    </div>
  </div>
</div>