
<div class="header-img-container">
  <img src="/assets/fondo-perfil4.jpg" alt="hola" class="header-img">
</div>
    <div class="profile-header-container">
  
    <div class="header-content">
    
    <img src="/assets/perfiles/perfil.png" alt="Perfil" class="perfil-img">
    <h1 class="main-title"> Camilo Charry</h1>
    <p class="subtitle">Administra tu información personal</p>
    
    <nav class="tab-navigation">
      <button 
        *ngFor="let tab of tabs" 
        [class]="'tab-button ' + (activeTab === tab.key ? 'active' : '')"
        (click)="selectTab(tab.key, tab.route)">
        {{ tab.label }}
      </button>
    </nav>
  </div>
</div>