<mat-card class="profile-card">

  <!-- Header fijo -->
  <mat-card-header>
 
    <mat-card-title>
      Crear Nueva Persona
    </mat-card-title>
    <mat-card-subtitle>Ingresa los datos de la nueva persona</mat-card-subtitle>
  </mat-card-header>

  <!-- Contenido con scroll -->
  <mat-card-content class="scroll-content">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="form-grid" >

      <!-- Sección: Datos personales -->
      <h3 class="section-title">Datos personales</h3>
      <mat-divider></mat-divider>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Primer nombre</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field> 

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Segundo nombre</mat-label>
        <input matInput formControlName="middleName">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Primer apellido</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Segundo apellido</mat-label>
        <input matInput formControlName="secondLastName">
      </mat-form-field>

      <!-- Sección: Documento -->
      <h3 class="section-title">Documento</h3>
      <mat-divider></mat-divider>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Tipo de documento</mat-label>
        <mat-select formControlName="documentTypeId">
          <mat-option *ngFor="let doc of documentTypes" [value]="doc.id">
            {{ doc.name }} - {{ doc.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Número de documento</mat-label>
        <input matInput formControlName="documentNumber">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Tipo de sangre</mat-label>
        <mat-select formControlName="bloodTypeId">
          <mat-option *ngFor="let blood of bloodTypes" [value]="blood.id">
            {{ blood.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Sección: Contacto -->
      <h3 class="section-title">Contacto</h3>
      <mat-divider></mat-divider>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="address">
      </mat-form-field>

      <!-- Sección: Ubicación -->
      <h3 class="section-title">Ubicación</h3>
      <mat-divider></mat-divider>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Departamento</mat-label>
        <mat-select formControlName="departmentId">
          <mat-option *ngFor="let dep of deparments" [value]="dep.id">
            {{ dep.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Ciudad</mat-label>
        <mat-select formControlName="cityId">
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{ city.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </form>
  </mat-card-content>

  <!-- Footer fijo -->
  <mat-card-actions class="footer">
    <app-action-buttons
      [disableSave]="profileForm.invalid"
      (cancel)="onCancel()"
      (save)="onSubmit()">
    </app-action-buttons>
  </mat-card-actions>

</mat-card>
