<app-generic-list-card
  [title]="'Puntos de Acceso'"
  [dataSourceInput]="accessPoints"
  [pageSize]="6"
  [customTemplates]="{ meta: metaTpl }"
  (onCreate)="create()"
  (onView)="view($event)"
  (onEdit)="edit($event)"
  (onDelete)="remove($event)"
  (onToggleStatus)="toggle($event)">
</app-generic-list-card>

<ng-template #metaTpl let-ap>
  <div class="ap-meta">
    <span *ngIf="ap.description">{{ ap.description }}</span>
    <div *ngIf="ap.qrCode" class="ap-qr-small">
      <img [src]="'data:image/png;base64,' + ap.qrCode" alt="QR" class="qr-small">
    </div>
  </div>
</ng-template>
